Sendy logistics challenge hosted by Zindi.

In this challenge we were asked to predict the time travel an order made by a customer would be delivered to the recipient when the order is picked by a rider from the pickup station.

This is also my first challenge working with Geospatial data.
In order to add some features such as the average speed based on the time travel I downloaded Additional datasets using the Uber travel times data of sublocations in Nairobi. 

Although it couldnt give me an accurate measurement of the time travels between the pickup and destination cities, I had to use this data because I was constrained by using some APIs such as the open route service and the Open Street routing machine APIs that could accurately calculate the time travel when a bike is used for delivery. 
Secondly, it could give me an estimate of the time travels since the means of transport used by Uber is car.

In [1]:
import pandas as pd
import numpy as np

In [2]:
import os
cwd = os.chdir(r'C:/Machine_learning_datafiles/sendy_logistics')
files = os.listdir('./locations')[3:]

In [3]:
files

['nairobi-sublocations-2018-1-All-HourlyAggregate.csv',
 'nairobi-sublocations-2018-1-All-MonthlyAggregate.csv',
 'nairobi-sublocations-2018-1-WeeklyAggregate.csv',
 'nairobi-sublocations-2018-2-All-HourlyAggregate.csv',
 'nairobi-sublocations-2018-2-All-MonthlyAggregate.csv',
 'nairobi-sublocations-2018-2-WeeklyAggregate.csv',
 'nairobi-sublocations-2018-3-All-HourlyAggregate.csv',
 'nairobi-sublocations-2018-3-All-MonthlyAggregate.csv',
 'nairobi-sublocations-2018-3-WeeklyAggregate.csv',
 'nairobi-sublocations-2018-4-All-HourlyAggregate.csv',
 'nairobi-sublocations-2018-4-All-MonthlyAggregate.csv',
 'nairobi-sublocations-2018-4-WeeklyAggregate.csv',
 'nairobi-sublocations-2019-1-All-HourlyAggregate.csv',
 'nairobi-sublocations-2019-1-All-MonthlyAggregate.csv',
 'nairobi-sublocations-2019-1-WeeklyAggregate.csv',
 'nairobi-sublocations-2019-2-All-HourlyAggregate.csv',
 'nairobi-sublocations-2019-2-All-MonthlyAggregate.csv',
 'nairobi-sublocations-2019-2-WeeklyAggregate.csv',
 'nairobi-sublocations-2019-3-All-HourlyAggregate.csv',
 'nairobi-sublocations-2019-3-All-MonthlyAggregate.csv',
 'nairobi-sublocations-2019-3-WeeklyAggregate.csv']

In [4]:
q1_hourly_18 = pd.read_csv('./locations/nairobi-sublocations-2018-1-All-HourlyAggregate.csv')
q2_hourly_18 = pd.read_csv('./locations/nairobi-sublocations-2018-2-All-HourlyAggregate.csv')
q3_hourly_18 = pd.read_csv('./locations/nairobi-sublocations-2018-3-All-HourlyAggregate.csv')
q4_hourly_18 = pd.read_csv('./locations/nairobi-sublocations-2018-4-All-HourlyAggregate.csv')

In [5]:
q1_hourly_19 = pd.read_csv('./locations/nairobi-sublocations-2019-1-All-HourlyAggregate.csv')
q2_hourly_19 = pd.read_csv('./locations/nairobi-sublocations-2019-2-All-HourlyAggregate.csv')
q3_hourly_19 = pd.read_csv('./locations/nairobi-sublocations-2019-3-All-HourlyAggregate.csv')

In [6]:
q1_weekly_18 = pd.read_csv('./locations/nairobi-sublocations-2018-1-WeeklyAggregate.csv')
q2_weekly_18 = pd.read_csv('./locations/nairobi-sublocations-2018-2-WeeklyAggregate.csv')
q3_weekly_18 = pd.read_csv('./locations/nairobi-sublocations-2018-3-WeeklyAggregate.csv')
q4_weekly_18 = pd.read_csv('./locations/nairobi-sublocations-2018-4-WeeklyAggregate.csv')

In [7]:
q1_weekly_19 = pd.read_csv('./locations/nairobi-sublocations-2019-1-WeeklyAggregate.csv')
q2_weekly_19 = pd.read_csv('./locations/nairobi-sublocations-2019-2-WeeklyAggregate.csv')
q3_weekly_19 = pd.read_csv('./locations/nairobi-sublocations-2019-3-WeeklyAggregate.csv')

In [8]:
q1_monthly_18 = pd.read_csv('./locations/nairobi-sublocations-2018-1-All-MonthlyAggregate.csv')
q2_monthly_18 = pd.read_csv('./locations/nairobi-sublocations-2018-2-All-MonthlyAggregate.csv')
q3_monthly_18 = pd.read_csv('./locations/nairobi-sublocations-2018-3-All-MonthlyAggregate.csv')
q4_monthly_18 = pd.read_csv('./locations/nairobi-sublocations-2018-4-All-MonthlyAggregate.csv')

In [9]:
q1_monthly_19 = pd.read_csv('./locations/nairobi-sublocations-2019-1-All-MonthlyAggregate.csv')
q2_monthly_19 = pd.read_csv('./locations/nairobi-sublocations-2019-2-All-MonthlyAggregate.csv')
q3_monthly_19 = pd.read_csv('./locations/nairobi-sublocations-2019-3-All-MonthlyAggregate.csv')

In [10]:
for quarterly_data_18 in [q1_hourly_18,q1_weekly_18, q1_monthly_18, q2_hourly_18, q2_monthly_18, q2_weekly_18, 
                          q3_hourly_18, q3_monthly_18, q3_weekly_18, q4_hourly_18, q4_monthly_18, q4_weekly_18]:
    quarterly_data_18['year'] = 2018

In [11]:
for quarterly_data_19 in [q1_hourly_19,q1_weekly_19, q1_monthly_19, q2_hourly_19, q2_monthly_19, q2_weekly_19, 
                          q3_hourly_19, q3_monthly_19, q3_weekly_19]:
    quarterly_data_19['year'] = 2019

In [12]:
hourly_travel_time = pd.concat([
    q1_hourly_18, q2_hourly_18, q3_hourly_18, q4_hourly_18, q1_hourly_19, q2_hourly_19, q3_hourly_19
], axis=0)

In [13]:
weekly_travel_time = pd.concat([
    q1_weekly_18, q2_weekly_18, q3_weekly_18, q4_weekly_18, q1_weekly_19, q2_weekly_19, q3_weekly_19
], axis=0)

In [14]:
monthly_travel_time = pd.concat([
    q1_monthly_18, q2_monthly_18, q3_monthly_18, q4_monthly_18, q1_monthly_19, q2_monthly_19, q3_monthly_19
], axis=0)

In [15]:
hourly_travel_time.shape, weekly_travel_time.shape, monthly_travel_time.shape

((1286035, 8), (418135, 8), (180483, 8))

In [55]:
hourly_travel_time_ = hourly_travel_time.groupby(['sourceid','dstid'])[
    [
        'mean_travel_time','standard_deviation_travel_time',
        'geometric_mean_travel_time','geometric_standard_deviation_travel_time'
    ]
].mean().reset_index()

In [19]:
hourly_travel_time.to_csv('hourly_travel_times.csv', index=False)

In [56]:
hourly_travel_time_.shape

(9271, 6)

In [57]:
hourly_travel_time_

,sourceid,dstid,mean_travel_time,standard_deviation_travel_time,geometric_mean_travel_time,geometric_standard_deviation_travel_time
0,1,2,247.597976,363.056012,152.416310,2.457262
1,1,3,362.021429,337.189881,280.009583,1.938690
2,1,4,602.090655,453.689881,497.837440,1.780893
3,1,5,1452.731964,615.648214,1357.237560,1.401012
4,1,6,725.566190,653.835476,522.429345,2.230357
...,...,...,...,...,...,...
9266,107,103,1278.400060,628.072083,1169.743869,1.503036
9267,107,104,889.459345,476.330476,803.969524,1.530417
9268,107,105,2615.407771,915.719873,2460.732420,1.375732
9269,107,106,326.654643,349.661607,228.826548,2.417024
9270,107,107,1689.317778,758.338889,1491.357778,2.531111